* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}


.site-container {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fd;
    min-height: 55em;
}

hr {
    height:2px;
    border-width:0;
    color:#D60920;
    background-color:#D60920;
    margin-top: 20px;
    margin-bottom: 30px;
}

 /* TODO : a changer avec le logo de louis */
.logo {
    height: 80px;
    width: auto;
}

img {
    max-width: 400px;
    height: auto;
}

/* premier rang */

h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

.column p {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    text-align: justify;
    display: flex;
    height: 150px;
    align-items: center;
}

.rang-centre {
    margin: 0 auto;
    width: 50%;
    height: 340px;
}

.column {
    float: left;
    width: 50%;
    padding-top: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



